
.todo-wrapper {
  width: 1150px;
  margin: 0 auto;
}

.todo-head {
  display: flex;
  align-items: center;
  width: 100%;
  height: auto;
  color: white;
  justify-content: space-between;
  border-bottom: 1px solid rgba(211, 211, 211, 0.301);
  padding: 20px 0;
}

.todo-logo {
  color: #FFD609;
}

.add-todo {
  width: auto;
  padding: 5px 25px;
  background: #56585A;
  border-radius: 10px;
  cursor: pointer;
}

.add-todo span i svg {
  fill: white;
}

@media only screen and (max-width:1170px){
  .todo-wrapper{
    width: 100%;
    padding: 0 15px;
  }
}